.cardUs{
    width: 100vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cardAbout {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 20vw;
    height: 26vw;
    background: var(--bg-color);
    border: 0.2vw solid var(--main-color);
    box-shadow: 0.4vw 0.4vw var(--main-color);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-photo {
  /* clear and add new css */
    transform: scale(0.3) translate(22vw, 23vw);
    width: 25vw;
    height: 25vw;
    margin-left: -12.5vw;
    margin-top: -12.5vw;
    /* background: radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 14% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 10% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 7.5% 29%/20% 20%,radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 86% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 90% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 92.5% 29%/20% 20%,radial-gradient(circle at 50% 0,#ffdab9 29.5%,#8b4513 30%,#8b4513 35%,rgba(139,69,19,0) 35.5%) 50% 95%/40% 20%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 49%,#8b4513 49.5%,#8b4513 52%,rgba(139,69,19,0) 52.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(255,255,255,0) 35%,white 35%,white 45%,rgba(255,255,255,0) 45.5%) 50% 89%/40% 13%,linear-gradient(#8b4513,#8b4513) 37% 100%/.25em 22%,linear-gradient(#8b4513,#8b4513) 63% 100%/.25em 22%,linear-gradient(80deg,rgba(0,0,0,0) 50%,#333 50.5%) 24% 100%/1em 18%,linear-gradient(-80deg,rgba(0,0,0,0) 50%,#333 50.5%) 76% 100%/1em 18%,linear-gradient(162deg,rgba(0,0,0,0) 10%,#333 10%) 30% 100%/1.5em 21%,linear-gradient(-162deg,rgba(0,0,0,0) 10%,#333 10%) 70% 100%/1.5em 21%,radial-gradient(ellipse at 100% 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 0 100%/37% 29%,radial-gradient(ellipse at 0 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 100% 100%/37% 29%,radial-gradient(ellipse at 50% 100%,#222 51%,rgba(0,0,0,0) 51.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0) 40.5%) 50% 82%/20% 20%,linear-gradient(to right,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(to left,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(#ffdab9,#ffdab9) 50% 80%/20% 20%,linear-gradient(#48240a,#48240a) 50% 100%/65% 60%,radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%; */
    /* background-color: #ff0000; */
    background-repeat: no-repeat;
    border-radius: 30%;
  }
  
  .dan{
    background-image: url("../../../public/danAva.jpg");
  }

  .den{
    background-image: url("../../../public/denAva.jpg");
    
  }
  /* delete */
  
  
  /* delete */
  .card-photo::after {
    display: block;
    content: '';
    position: absolute;
    width: 0.2vw;
    height: 0.2vw;
    left: 28.5%;
    top: 26%;
    /* background-color: #5e2f0d; */
    border-radius: 1vw;
    /* box-shadow: 4.2em 0 0 #5e2f0d; */
  }
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 2vw;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card-title span {
    font-size: 1.5vw;
    color: var(--font-color-sub);
  }
  
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 2vw;
    gap: 2vw;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .cardAbout:hover > .card-socials {
    opacity: 1;
    height: 3.5vw;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-0.5vw);
    transition: all 0.15s;
  }
  
  .card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(16vw, 15vw);
  }


@media screen and (max-width: 770px){
  .cardUs{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .cardAbout {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 40vw;
    height: 45vw;
    background: var(--bg-color);
    border: 0.2vw solid var(--main-color);
    box-shadow: 0.4vw 0.4vw var(--main-color);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-photo {
  /* clear and add new css */
    transform: scale(0.3) translate(22vw, 23vw);
    width: 50vw;
    height: 50vw;
    margin-left: -12.5vw;
    margin-top: -12.5vw;
    /* background: radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 14% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 10% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 7.5% 29%/20% 20%,radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 86% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 90% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 92.5% 29%/20% 20%,radial-gradient(circle at 50% 0,#ffdab9 29.5%,#8b4513 30%,#8b4513 35%,rgba(139,69,19,0) 35.5%) 50% 95%/40% 20%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 49%,#8b4513 49.5%,#8b4513 52%,rgba(139,69,19,0) 52.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(255,255,255,0) 35%,white 35%,white 45%,rgba(255,255,255,0) 45.5%) 50% 89%/40% 13%,linear-gradient(#8b4513,#8b4513) 37% 100%/.25em 22%,linear-gradient(#8b4513,#8b4513) 63% 100%/.25em 22%,linear-gradient(80deg,rgba(0,0,0,0) 50%,#333 50.5%) 24% 100%/1em 18%,linear-gradient(-80deg,rgba(0,0,0,0) 50%,#333 50.5%) 76% 100%/1em 18%,linear-gradient(162deg,rgba(0,0,0,0) 10%,#333 10%) 30% 100%/1.5em 21%,linear-gradient(-162deg,rgba(0,0,0,0) 10%,#333 10%) 70% 100%/1.5em 21%,radial-gradient(ellipse at 100% 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 0 100%/37% 29%,radial-gradient(ellipse at 0 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 100% 100%/37% 29%,radial-gradient(ellipse at 50% 100%,#222 51%,rgba(0,0,0,0) 51.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0) 40.5%) 50% 82%/20% 20%,linear-gradient(to right,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(to left,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(#ffdab9,#ffdab9) 50% 80%/20% 20%,linear-gradient(#48240a,#48240a) 50% 100%/65% 60%,radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%; */
    /* background-color: #ff0000; */
    background-repeat: no-repeat;
    border-radius: 30%;
  }
  
  /* delete */
  
  
  /* delete */
  .card-photo::after {
    display: block;
    content: '';
    position: absolute;
    width: 0.2vw;
    height: 0.2vw;
    left: 28.5%;
    top: 1%;
    /* background-color: #5e2f0d; */
    border-radius: 1vw;
    /* box-shadow: 4.2em 0 0 #5e2f0d; */
  }
  
  .card-title {
    text-align: center;
    color: var(--font-color);
    margin-top: -8vw;
    font-size: 4vw;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card-title span {
    font-size: 2.5vw;
    color: var(--font-color-sub);
  }
  .icon{
    width: 5vw;
    height: 5vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 1vw;
    gap: 4vw;
    transition: 0.5s;
  }
  
  .card-socials-btn {
    width: 5vw;
    height: 5vw;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .cardAbout:hover > .card-socials {
    opacity: 2;
    height: 6.5vw;
  }
  
  .card-socials-btn:hover {
    transform: translateY(-1vw);
    transition: all 0.15s;
  }
  
  .card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(18vw, 20vw);
  }

}